{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="p-5 max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:category-list' %}">Go back to categories</a>
    <div class="mt-3 py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800 mt-5">Delete {{ object.name }}</h1>
    </div>
    <form method="post" class="p-5 mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type='submit' class="w-full text-white bg-red-500 hover:bg-blue-600 px-3 py-2 mt-3 rounded-md">
            Delete
        </button>
    </form>
</div>
{% endblock content %}